 @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Parisienne&family=Protest+Riot&family=Satisfy&display=swap');
      @import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Protest+Riot&family=Satisfy&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Protest+Riot&family=Satisfy&display=swap");
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      html {
        font-family: "Satisfy", cursive;
        overflow-x: clip;
      }
      .container {
        max-width: 414px;
        width: 100%;
      }
      .heading_01 {
        text-align: center;
        background: rgb(251, 215, 131);
        background: linear-gradient(
          90deg,
          rgba(251, 215, 131, 1) 10%,
          rgb(245, 177, 94) 54%,
          rgb(243, 172, 72) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "Parisienne", cursive;
        font-weight: bold;
        font-family: "Great Vibes", cursive;
      }
      .heading_02 {
        background: rgb(251, 215, 131);
        background: linear-gradient(
          90deg,
          rgba(251, 215, 131, 1) 10%,
          rgb(245, 177, 94) 54%,
          rgb(243, 172, 72) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 16px;
        text-align: center;
        font-family: "Satisfy", cursive;
      }
      .bg_01 {
        background-image: url("./bg_01.png");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 100px 40px 50px;
      }
        .bg_02 {
        background-image: url("./bg_02.png");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 100px 40px 50px;
      }
      .font_25 {
        font-size: 25px;
      }
      .font_35 {
        font-size: 35px;
      }
      .font_18 {
        font-size: 18px;
      }
      .font_40 {
        font-size: 35px;
        font-weight: 800;
      }
      .font_great{ font-family: "Great Vibes", cursive;}
      .font_paris{font-family: "Parisienne", cursive; }
      .font_satisfy{  font-family: "Satisfy", cursive;}
     