 @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Parisienne&family=Protest+Riot&family=Satisfy&display=swap');
      @import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Protest+Riot&family=Satisfy&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Protest+Riot&family=Satisfy&display=swap");
      @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Mochiy+Pop+One&family=Parisienne&family=Protest+Riot&family=Satisfy&display=swap');
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      html {
        font-family: "Satisfy", cursive;
        overflow-x: clip !important;

      }
      .container {
        max-width: 414px;
        width: 100%;
      }
      .heading_01 {
        text-align: center;
        background: rgb(63, 46, 7);
        background: linear-gradient(
          90deg,
          rgb(54, 39, 2) 10%,
          rgb(116, 64, 1) 54%,
          rgb(54, 34, 5) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "Parisienne", cursive;
        font-weight: bold;
        /* font-family: "Great Vibes", cursive; */
      }
      .heading_02,.text_dark {
        background: rgb(63, 46, 7);
        background: linear-gradient(
          90deg,
          rgb(54, 39, 2) 10%,
          rgb(116, 64, 1) 54%,
          rgb(54, 34, 5) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 12px;
        font-weight: 900;
        text-align: center;
        font-family: "Satisfy", cursive;
      }
      .bg_01 {
        background-image: url("./bg-final-01.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        
      }
        .bg_02 {
        background-image: url("./bg-final-01.jpeg");
        background-size: cover;
        background-repeat: no-repeat;

      }
      .font_25 {
        font-size: 25px;
      }
      .font_22 {
        font-size: 22px;
      }
      .font_35 {
        font-size: 35px;
      }
      .font_18 {
        font-size: 18px;
      }
      .font_16 {
        font-size: 16px;
      }
 
      .font_great{ font-family: "Great Vibes", cursive;}
      .font_paris{font-family: "Parisienne", cursive; }
      .font_satisfy{  font-family: "Satisfy", cursive;}
     .content_box{
        padding: 90px 40px 150px;
     }

     .address{
        background-color: rgb(255 255 255 / 48%) !important;
        border-radius: 10px;
        padding: 10px;
    
     }
     .address h1{
        font-family: "Mochiy Pop One", sans-serif;
        font-size: 12px;
        line-height: normal;
     }
     .phone{
        display: flex;
        text-decoration: none;
        align-items: center;
        background: rgb(63, 46, 7);
        background: linear-gradient(
          90deg,
          rgb(54, 39, 2) 10%,
          rgb(116, 64, 1) 54%,
          rgb(54, 34, 5) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;   
        font-size: 16px;
        margin-bottom: 0;
        font-weight: 900;
        font-family: "Satisfy", cursive;}
    
        .wrapper__border{
            text-align: center;
        }
        .border__01{
            border-bottom: 2px solid #744001;
            display: inline-block;
        }
     @media(max-width:380px){
        .font_35 {
            font-size: 25px;
          }
          .font_25 {
            font-size: 20px;
          }
          .font_16 {
            font-size: 14px;
        }
        .content_box {
            padding: 90px 30px 110px;
        }
        html{
            overflow-x: clip;
        }
        .container {
            max-width: 100%;
            width: 100%;
        }
        
        
     }