 @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Parisienne&family=Protest+Riot&family=Satisfy&display=swap');
      @import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Protest+Riot&family=Satisfy&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Protest+Riot&family=Satisfy&display=swap");
      @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Mochiy+Pop+One&family=Parisienne&family=Protest+Riot&family=Satisfy&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Mochiy+Pop+One&family=Parisienne&family=Protest+Riot&family=Satisfy&family=Tangerine:wght@400;700&display=swap');
      @font-face {
        font-family: 'black';
        src: url(./font/back-to-black.ttf);
      }
      @font-face {
        font-family: 'ams';
        src: url(./font/amsterdam-personal.ttf);
      }
      @font-face {
        font-family: 'lucy';
        src: url(./font/lucysaid.ttf);
      }
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      html {
        font-family: "Satisfy", cursive;
        overflow-x: clip !important;

      }
      body{
        overflow-x: hidden;
      }
      .container {
        max-width: 414px;
        width: 100%;
      }
      .heading_01 {
        text-align: center;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        font-family: "Great Vibes", cursive;
        background: linear-gradient(90deg, rgb(251, 215, 131) 10%, rgb(245, 177, 94) 54%, rgb(243, 172, 72) 100%) text;
        font-family: "Parisienne", cursive;
        font-weight: bold;
        font-family: 'black'; 
        /* font-family: 'ams'; */
        /* font-family: "Great Vibes", cursive; */
      }
      .heading_02,.text_dark {
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        font-family: "Great Vibes", cursive;
        background: linear-gradient(90deg, rgb(251, 215, 131) 10%, rgb(245, 177, 94) 54%, rgb(243, 172, 72) 100%) text;
        font-size: 12px;
        font-weight: 900;
        text-align: center;
        font-family: "Satisfy", cursive;
        
      }
      .bg_01 {
        background-image: url("./bg_04.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        
      }
        .bg_02 {
        background-image: url("./bg_04.jpg");
        background-size: cover;
        background-repeat: no-repeat;

      }
      .font_25 {
        font-size: 25px;
      }
      .font_22 {
        font-size: 22px;
      }
      .font_35 {
        font-size: 35px;
      }
      .font_18 {
        font-size: 18px;
      }
      .font_16 {
        font-size: 16px;
      }
 
      .font_great{ font-family: "Great Vibes", cursive;}
      .font_paris{font-family: "Parisienne", cursive; }
      .font_satisfy{  font-family: "Satisfy", cursive;}
     .content_box{
        padding: 90px 40px 90px;
     }

     .address{
        padding: 10px;
    
     }
     .address h1{
        font-family: "Mochiy Pop One", sans-serif;
        font-size: 12px;
        line-height: normal;
     }
     .phone{
        display: flex;
        justify-content: center;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        font-family: "Great Vibes", cursive;
        background: linear-gradient(90deg, rgb(251, 215, 131) 10%, rgb(245, 177, 94) 54%, rgb(243, 172, 72) 100%) text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;   
        font-size: 16px;
        margin-bottom: 0;
        font-weight: 900;
        font-family: "Satisfy", cursive;}
    
        .wrapper__border{
            text-align: center;
        }
        .border__01{
            border-bottom: 2px solid #ffa537;
            display: inline-block;
        }
     @media(max-width:406px){
        .font_35 {
            font-size: 25px;
          }
          .font_25 {
            font-size: 20px;
          }
          .font_16 {
            font-size: 14px;
        }
        .content_box {
            padding: 90px 30px 90px;
        }
        html,body{
            overflow-x: clip;
        }
        .container {
            max-width: 100%;
            width: 100%;
            overflow-x: hidden;
        }
        .font_22 {
          font-size: 18px;
      }
        
     }

     @media(max-width:363px){
      .content_box {
        padding: 80px 30px 80px;
    }
      .font_35 {
        font-size: 22px !important;
    }
     }

     
     @media(max-width:358px){
      .content_box {
        padding: 60px 30px 60px;
    }
  
     }